<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testSBR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EF2B73E1BB2050C0096591F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2B7521BB2050D0096591F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EF2B75D1BB2050D0096591F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
